html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background: $black !important;
    //overflow-y: auto !important;
}

#root {
    height: 100%;
}

a, 
button {
    outline: none;
    box-shadow: none;
    text-decoration: none;

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.app-wrapper {
    padding-top: 56px;
    background: $black;
    max-width: 640px;
    margin: 0 auto;
    min-height: 100%;

    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

.mb-15 {
    margin-bottom: 15px;
}

.main-box {
    background: $grey;
    padding: 12px;
    margin: 12px 0;
    border-radius: 2px;
    color: $white;

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .avg {
        color: $light-grey;
        display: flex;
        align-items: center;

        strong {
            color: $white;
            font-weight: normal;
        }

        span {
            margin: 0 5px;
        }
    }

    h2 {
        font-size: 1.25rem;
        margin: 0;
        color: $primary;
        text-transform: uppercase;
    }

    .last-refueling {
        padding: 10px 0 0;

        p {
            margin: 0;
            font-size: 0.9em;
            line-height: 1.2rem;
        }
    }
}

.fuel-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .result,
    .number,
    .title {
        display: block;
    }

    .title {
        padding-bottom: 10px;
    }

    .number {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .result {
        color: $light-grey;
        padding-top: 10px;
        font-size: 0.85rem;
    }

    .avg-col {
        .number {
            background: $secondary;
        }
    }

    .last-col {
        .number {
            background: $primary;
        }
    }

    .text-col {
        padding: 0 10px;
    }
}

.text-grey {
    color: $light-grey;
}