$white: #fff;
$black: #303030;

$grey: #424242;
$grey2: #797979;
$light-grey: #bfbaba;

$primary: #00a8ef;
$secondary: #f50057;

$base-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$second-font-family: 'Barlow Semi Condensed', sans-serif;