$white: #fff;
$black: #303030;

$grey: #514f4f;
$light-grey: #bfbaba;

$primary: #2196f3;
$secondary: #f50057;

$base-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$second-font-family: 'Barlow Semi Condensed', sans-serif;